[submodule "ros2_ws/src/ros1_bridge"]
	path = ros2_ws/src/ros1_bridge
	url = https://github.com/ros2/ros1_bridge.git
	branch = foxy
[submodule "ros1_ws/src/ssl_slam2"]
	path = ros1_ws/src/ssl_slam2
	url = https://github.com/wh200720041/ssl_slam2.git
[submodule "ros1_ws/src/realsense-ros"]
	path = ros1_ws/src/realsense-ros
	url = https://github.com/IntelRealSense/realsense-ros.git
[submodule "dep/gtsam"]
	path = dep/gtsam
	url = https://github.com/borglab/gtsam.git
[submodule "dep/ceres-solver"]
	path = dep/ceres-solver
	url = https://github.com/ceres-solver/ceres-solver.git
[submodule "dep/pcl"]
	path = dep/pcl
	url = https://github.com/PointCloudLibrary/pcl.git
[submodule "ros1_ws/src/DynamixelSDK"]
	path = ros1_ws/src/DynamixelSDK
	url = https://github.com/ROBOTIS-GIT/DynamixelSDK.git
	branch = noetic-devel
[submodule "ros2_ws/src/navigation2"]
	path = ros2_ws/src/navigation2
	url = https://github.com/ros-planning/navigation2.git
	branch = foxy-devel
