<launch>
    <!-- Run move_base -->
    <node pkg="move_base" type="move_base" respawn="false" name="move_base" output="screen">
        <!-- <rosparam file="$(find airak-mapping)/param/costmap_common.yaml" command="load" /> -->
        <rosparam file="$(find airak-mapping)/param/costmap_local_common.yaml" command="load" />
        <rosparam file="$(find airak-mapping)/param/costmap_global_common.yaml" command="load" /> 
        <rosparam file="$(find airak-mapping)/param/planner_local.yaml" command="load" />
        <rosparam file="$(find airak-mapping)/param/planner_global.yaml" command="load" />
    </node>

</launch> 